.iqs-statistics-grid-panel {
    .iqs-statistics-grid {
        table {
            width: 100%;
            border-collapse: collapse;
            th:first-of-type {
                width: 50%;
            }
        }
    }
    .iqs-empty-grid {
        table {
            width: 100%;
            border-collapse: collapse;
            /* Zebra striping */
            tr:nth-of-type(odd) {
                background: #eee;
            }
            th {
                background: #333;
                color: white;
                font-weight: bold;
            }
            td,
            th {
                padding-top: 12px;
                padding-bottom: 12px;
                border: 1px solid #ccc;
                text-align: center;
                min-height: 24px;
            }
        }
    }
    .grid-result-row {
        background: #eee;
    }
}