<div class="pip-main-menu iqs-stat" ng-class="{'pip-single-content': $ctrl.details}">
	<div class="pip-menu layout-column iqs-menu ">

		<div ng-show="$ctrl.error" class="pip-page-errors">
			<span class="pip-error-text color-error flex"> {{ $ctrl.error }}</span>
			<md-icon md-svg-icon="icons:warn-circle" class="color-error"></md-icon>
		</div>
		<div class="flex" style="position: relative; overflow-x: hidden; overflow-y: auto;" ng-if="$ctrl.state == 'data'">

			<md-list class="pip-ref-list iqs-stat-list w-stretch h-stretch" pip-selected="$ctrl.selectedIndex" pip-select="$ctrl.selectItem($event.index)"
			         pip-selected-watch="$ctrl.selectedIndex">

				<md-list-item class="pip-ref-list-item pip-selectable pointer" ng-class="{'selected': $ctrl.selectedIndex == $index && $ctrl.pipMedia('gt-sm') }"
				              md-ink-ripple ng-repeat="object in $ctrl.collection  track by $index">

					<!--pip-avatar pip-id="object.id" pip-rebind="true" pip-name="object.name" 
						class="pip-face rm16" ng-click="$ctrl.selectItem($index)">
					</pip-avatar-->
					<div class="pip-content" ng-click="$ctrl.selectItem($index)">
						<p class="text-body2 text-overflow flex">
							{{ object.name | translate }}
						</p>
						<!--p class="pip-subtitle text-overflow flex rp24 rm8">
							{{ object | formatObjectSubtitle}}
						</p-->
					</div>
				</md-list-item>
			</md-list>
		</div>

		<div class="pip-list-container iqs-menu-empty" ng-if="($ctrl.state == 'empty' || $ctrl.state == 'progress') && $ctrl.pipMedia('gt-sm')">
		</div>

		<div class="pip-list-container" style="height: calc( 100%); top: 0px;  overflow-x: hidden;" ng-if="($ctrl.state == 'empty' || $ctrl.state == 'progress') && !$ctrl.pipMedia('gt-sm')">
			<div class="layout-column layout-align-center-center flex h-stretch iqs-empty">
				<div class="pip-empty" ng-if="$ctrl.state == 'empty'">
					<img src="images/empty/empty.svg" class="pip-pic">
					<div class="pip-text">
						{{ ::'OBJECT_EVENTS_EMPTY_TITLE' | translate }}
						<br>
						<br> {{ ::'OBJECT_EVENTS_EMPTY_SUBTITLE' | translate }}
					</div>
				</div>

				<div class="pip-empty" ng-if="$ctrl.state == 'progress'">
					<img src="images/empty/progress.svg" class="pip-pic">
					<div class="pip-text">
						{{ ::'OBJECT_EVENTS_LOADING_TITLE' | translate }}
						<md-progress-linear md-mode="indeterminate" class="tm24"></md-progress-linear>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pip-content-container">
		<iqs-object-events-panel ng-if="$ctrl.state == 'data' && $ctrl.object" iqs-object="$ctrl.object" ng-disabled="$ctrl.transaction.busy()">
		</iqs-object-events-panel>

		<iqs-object-events-empty-panel ng-if="$ctrl.state == 'empty' || $ctrl.state == 'progress'" iqs-state="$ctrl.state"
		                               ng-disabled="$ctrl.transaction.busy()">
		</iqs-object-events-empty-panel>
	</div>
</div>