<div class="layout-row layout-align-start-center bp8">
    <div class="text-body1 color-secondary-text flex" xxxng-if="!$ctrl.filterParams.groupId && !$ctrl.filterParams.objectId && !$ctrl.filterParams.zoneId">
        {{ $ctrl.statsDescription | translate }} {{ $ctrl.statsDescriptionDetails }}
    </div>
    <div class="flex-fixed">
        <md-button class="md-icon-button" ng-click="$ctrl.changeView('chart')" ng-class="{ 'opacity-secondary' :  $ctrl.view !== 'chart'}">
            <md-icon md-svg-icon="icons:bars"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="$ctrl.changeView('grid')" ng-class="{ 'opacity-secondary' :  $ctrl.view !== 'grid'}">
            <md-icon md-svg-icon="icons:grid"></md-icon>
        </md-button>
    </div>
</div>

<pip-bar-chart ng-if="$ctrl.view === 'chart'" pip-series="$ctrl.barStatistics.series" pip-x-tick-format="$ctrl.formatX"
               pip-y-tick-format="$ctrl.formatY">
</pip-bar-chart>

<div ng-include="'statistics/includes/StatisticsGridForAllDevices.html'" class="bp16" ng-if="$ctrl.view === 'grid'"></div>