<div class="layout-row layout-align-start-center bp8">
    <div class="text-body1 color-secondary-text flex" >
        {{ $ctrl.statsDescription | translate }} {{ $ctrl.statsDescriptionDetails }}
    </div>
    <div class="flex-fixed" >
        <md-button class="md-icon-button" ng-click="$ctrl.changeView('chart')" ng-class="{ 'opacity-secondary' :  $ctrl.view === 'grid'}">
            <md-icon md-svg-icon="icons:bars"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="$ctrl.changeView('grid')" ng-class="{ 'opacity-secondary' :  $ctrl.view === 'chart'}">
            <md-icon md-svg-icon="icons:grid"></md-icon>
        </md-button>
    </div>
</div>

<div ng-include="'statistics/includes/StatisticsBlocks.html'" ng-if="$ctrl.view === 'chart'"></div>

<div ng-include="'statistics/includes/StatisticsAllParamsGrid.html'" class="bp16" ng-if="$ctrl.view === 'grid'"></div>